[POSTGRESQL]

dsn = postgres://postgres:test@/btc_nodes
pool_threads = 15

[SEED]

domain = seed.satoshithefirst.com,seed.vitalikthesecond.com,seed.emmathethird.com


[NETWORK]

default_port = 8454
magic = 0xE891B48A
version = 70015
services = 0b0000000000000000000000000000000000000000000000000000000000000001
user_agent = /bgl_node_scanner:0.0.1/
ping_timeout = 5
connect_timeout = 15
handshake_timeout = 6

[SCAN]

threads = 1000